#cartTable .cart-thead .cart-top-one th{
    width: 170px;
    font-size: 14px;
}

.check-all{
    margin-left: -104px;
}

.large-bold-red {color:#FF5500;font-weight: bold;font-size: 26px;}
.small-bold-red {color:#FF5500;font-weight: bold;font-size: 18px;}
.smaller-bold-red {color:#FF5500;font-weight: bold;font-size: 12px;}

.cart-wrapper {
	line-height: 2.8rem;
}

.cart-wrap .empty {
	height:10rem;
	width:38rem;
	font-size:1.6rem;
	margin:0 auto;
	padding-left:11rem;
	padding-top:2.4rem;
	line-height:2rem;
}

table.cart {
    font-size: 1.4rem;
	min-height: 10rem;
	padding-top: 1rem;
}

table.cart tbody .selling-price:before, table.cart tbody .subtotal:before,
	table.cart tbody .price-total:before {
	content: "￥"
}

table.crt tbody .selling-price:after, table.cart tbody .subtotal:after
	{
	content: "";
	padding-left: 1.1rem;
}

.cart-top-one{
    height: 30px;
    line-height: 30px;
}

.cart-top-one .t-goods{
    margin-left: 150px;
}

.t-action,.t-qty,.t-subtotal{
    position: relative;
    right: -9%;
}

.t-qty{
    right: -8%;
}

.subtotal{
    position: relative;
    left: -3%;
}

.t-goods{
    position: relative;
    left: -8%;
}

.selling-price{
    position: relative;
    left: -11%;
}


.cart-summary {
	border-top: 0.1rem solid #e9e9e9;
	padding: 0.6rem 1rem;
}

.input-group {
    position: relative;
    border-collapse: separate;
    left: -32%;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    vertical-align: middle;

}

.form-control{
    width: 16%;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 12%;
}

.minus,.plus{
    position: relative;
    cursor: pointer;
}

.minus{
    left: 3%;
}

.plus{
    left: -2%;
}

.btn-xs{
    padding: 2px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.check-img{
    position: relative;
    left: 20%;
}

.pull-right{
    width: auto;
    text-align: center;
}

.btn-primary{
   background: #FE6732;
   width: 74px;
   height: 37px;
   border: 0px none;
   padding: 0px;
   border-radius: 10px;
   line-height: 37px;
   font-size: 14px;
   color: #fff;
   overflow: visible;
   cursor: pointer;
   -moz-transition: all 400ms ease-in-out 0s;
   -ms-transition: all 400ms ease-in-out 0s;
   -o-transition: all 400ms ease-in-out 0s;
   transition: all 400ms ease-in-out 0s;
}